In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ces2019_web.csv", encoding='latin-1')
print('done')

done

C:\Users\ericz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (25,27,31,33,39,179,181,243,276,299,302,316,327,362,424,425,431,468,538,541,578,579,582,584) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.tail()

,Unnamed: 0,cps19_StartDate,cps19_EndDate,cps19_ResponseId,cps19_consent,cps19_citizenship,cps19_yob,cps19_yob_2001_age,cps19_gender,cps19_province,...,split_vol_assoc,pes19_data_quality,pes19_panel,pes19_age,pes19_duplicates_flag,pes19_inattentive,cps19_weight_general_all,cps19_weight_general_restricted,pes19_weight_general_all,pes19_weight_general_restricted
0,1,2019-09-13 08:09:44,2019-09-13 08:36:19,R_1OpYXEFGzHRUpjM,1,4,70,NaN,2,24,...,NaN,NaN,NaN,NaN,NaN,NaN,0.681336,0.673652,NaN,NaN
1,2,2019-09-13 08:39:09,2019-09-13 08:57:06,R_2qdrL3J618rxYW0,1,4,79,NaN,2,24,...,NaN,NaN,NaN,NaN,NaN,NaN,0.681336,0.673652,NaN,NaN
2,3,2019-09-13 10:01:19,2019-09-13 10:27:29,R_USWDAPcQEQiMmNb,1,4,81,NaN,2,22,...,NaN,NaN,NaN,NaN,NaN,NaN,0.650459,0.635656,NaN,NaN
3,4,2019-09-13 10:05:37,2019-09-13 10:50:53,R_3IQaeDXy0tBzEry,1,4,79,NaN,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,0.887253,0.856576,NaN,NaN
4,5,2019-09-13 10:05:52,2019-09-13 10:32:53,R_27WeMQ1asip2cMD,1,4,81,NaN,2,22,...,NaN,NaN,NaN,NaN,NaN,NaN,1.653808,1.651144,NaN,NaN

In [5]:
df_sub_no_eth_prop = df[["cps19_votechoice", 
"cps19_education", 
"cps19_yob",
"cps19_province", 
"cps19_gender", 
"cps19_Q_Language", 
"cps19_employment", 
"cps19_income_cat", 
"cps19_income_number", 
"cps19_religion",
"cps19_sexuality",
"cps19_marital",
"cps19_children"
]]

In [6]:
property_cols = [col for col in df.columns if 'cps19_property' in col][:5]

print(property_cols)

['cps19_ResponseId', 'cps19_property_1', 'cps19_property_2', 'cps19_property_3', 'cps19_property_4', 'cps19_property_5']

In [8]:
df_property = df[property_cols]
# map ethnicity number to ethnicity text

In [9]:
property_responses = ['own_residence', 'own_a_business_property_farm_livestock', 'own_stocks_bonds', 'have_savings', 'none']

In [10]:
df_property.columns = property_responses

In [11]:
print(len(df_property))
print(df_property)

37822
        cps19_ResponseId  own_residence  \
0      R_1OpYXEFGzHRUpjM            NaN
1      R_2qdrL3J618rxYW0            NaN
2      R_USWDAPcQEQiMmNb            1.0
3      R_3IQaeDXy0tBzEry            1.0
4      R_27WeMQ1asip2cMD            1.0
...                  ...            ...
37817  R_3oQICUsIyPYiuPS            NaN
37818  R_1mnjkphmpoqw5Pz            1.0
37819  R_3lAD7fCxbFns4CW            1.0
37820  R_1F3PFOFCfQcvPhj            1.0
37821  R_sjIpmXkzyqwq2qt            NaN

       own_a_business_property_farm_livestock  own_stocks_bonds  have_savings  \
0                                         NaN               NaN           NaN
1                                         NaN               NaN           1.0
2                                         NaN               NaN           1.0
3                                         1.0               NaN           1.0
4                                         NaN               NaN           NaN
...                                       ...               ...           ...
37817                                     NaN               1.0           1.0
37818                                     1.0               1.0           1.0
37819                                     NaN               NaN           NaN
37820                                     1.0               1.0           1.0
37821                                     NaN               NaN           NaN

       none
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
37817   NaN
37818   NaN
37819   NaN
37820   NaN
37821   1.0

[37822 rows x 6 columns]

In [12]:
df_property = df_property.dropna(how='all')

In [40]:
print(len(df_property))

36330

In [13]:
df_property = df_property.fillna(0)

In [14]:
print(df_property)

        cps19_ResponseId  own_residence  \
0      R_1OpYXEFGzHRUpjM            0.0
1      R_2qdrL3J618rxYW0            0.0
2      R_USWDAPcQEQiMmNb            1.0
3      R_3IQaeDXy0tBzEry            1.0
4      R_27WeMQ1asip2cMD            1.0
...                  ...            ...
37817  R_3oQICUsIyPYiuPS            0.0
37818  R_1mnjkphmpoqw5Pz            1.0
37819  R_3lAD7fCxbFns4CW            1.0
37820  R_1F3PFOFCfQcvPhj            1.0
37821  R_sjIpmXkzyqwq2qt            0.0

       own_a_business_property_farm_livestock  own_stocks_bonds  have_savings  \
0                                         0.0               0.0           0.0
1                                         0.0               0.0           1.0
2                                         0.0               0.0           1.0
3                                         1.0               0.0           1.0
4                                         0.0               0.0           0.0
...                                       ...               ...           ...
37817                                     0.0               1.0           1.0
37818                                     1.0               1.0           1.0
37819                                     0.0               0.0           0.0
37820                                     1.0               1.0           1.0
37821                                     0.0               0.0           0.0

       none
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
37817   0.0
37818   0.0
37819   0.0
37820   0.0
37821   1.0

[37822 rows x 6 columns]

In [43]:
# join with response id
df_responseid = df['cps19_ResponseId']

In [44]:
df_final = pd.concat([df_responseid, df_property], axis=1)

In [45]:
print(df_final)

        cps19_ResponseId  own_residence  \
0      R_1OpYXEFGzHRUpjM            NaN
1      R_2qdrL3J618rxYW0            0.0
2      R_USWDAPcQEQiMmNb            1.0
3      R_3IQaeDXy0tBzEry            1.0
4      R_27WeMQ1asip2cMD            1.0
...                  ...            ...
37817  R_3oQICUsIyPYiuPS            0.0
37818  R_1mnjkphmpoqw5Pz            1.0
37819  R_3lAD7fCxbFns4CW            1.0
37820  R_1F3PFOFCfQcvPhj            1.0
37821  R_sjIpmXkzyqwq2qt            0.0

       own_a_business_property_farm_livestock  own_stocks_bonds  have_savings  \
0                                         NaN               NaN           NaN
1                                         0.0               0.0           1.0
2                                         0.0               0.0           1.0
3                                         1.0               0.0           1.0
4                                         0.0               0.0           0.0
...                                       ...               ...           ...
37817                                     0.0               1.0           1.0
37818                                     1.0               1.0           1.0
37819                                     0.0               0.0           0.0
37820                                     1.0               1.0           1.0
37821                                     0.0               0.0           0.0

       none
0       NaN
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
37817   0.0
37818   0.0
37819   0.0
37820   0.0
37821   1.0

[37822 rows x 6 columns]

In [46]:
df_final.to_csv("cesr_property")

In [47]:
df_sub_no_eth_prop.to_csv("cesr_no_ethnicity_property")