In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ces2019_web.csv", encoding='latin-1')
print('done')

done

C:\Users\ericz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (25,27,31,33,39,179,181,243,276,299,302,316,327,362,424,425,431,468,538,541,578,579,582,584) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.tail()

,Unnamed: 0,cps19_StartDate,cps19_EndDate,cps19_ResponseId,cps19_consent,cps19_citizenship,cps19_yob,cps19_yob_2001_age,cps19_gender,cps19_province,...,split_vol_assoc,pes19_data_quality,pes19_panel,pes19_age,pes19_duplicates_flag,pes19_inattentive,cps19_weight_general_all,cps19_weight_general_restricted,pes19_weight_general_all,pes19_weight_general_restricted
37817,37818,2019-10-21 07:00:16,2019-10-21 07:19:19,R_3oQICUsIyPYiuPS,1,4,42,NaN,1,24,...,0.0,0.0,pes19_r,58.0,0.0,0.0,0.745574,0.740583,0.688558,0.635228
37818,37819,2019-10-21 07:42:56,2019-10-21 08:54:08,R_1mnjkphmpoqw5Pz,1,4,72,NaN,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,0.887253,NaN,NaN,NaN
37819,37820,2019-10-21 08:31:22,2019-10-21 08:50:44,R_3lAD7fCxbFns4CW,1,4,50,NaN,2,25,...,NaN,NaN,NaN,NaN,NaN,NaN,0.689530,0.699415,NaN,NaN
37820,37821,2019-10-21 08:31:47,2019-10-21 08:56:06,R_1F3PFOFCfQcvPhj,1,4,64,NaN,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,1.254407,1.256288,NaN,NaN
37821,37822,2019-10-21 08:41:10,2019-10-21 08:55:02,R_sjIpmXkzyqwq2qt,1,5,58,NaN,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,0.782036,0.771724,NaN,NaN

In [4]:
df_sub_no_eth_prop = df[["cps19_votechoice", 
"cps19_education", 
"cps19_yob",
"cps19_province", 
"cps19_gender", 
"cps19_Q_Language", 
"cps19_employment", 
"cps19_income_cat", 
"cps19_income_number", 
"cps19_religion",
"cps19_sexuality",
"cps19_marital",
"cps19_children"
]]

In [9]:
df_provage = df[["cps19_province", "cps19_age"]]
# map ethnicity number to ethnicity text

In [11]:
print(len(df_provage))
print(df_provage)

37822
       cps19_province  cps19_age
0                  24         30
1                  24         21
2                  22         19
3                  22         21
4                  22         19
...               ...        ...
37817              24         58
37818              22         28
37819              25         50
37820              22         36
37821              22         42

[37822 rows x 2 columns]

In [301]:
print(df_provage)

       First Nations  English  Scottish  French  Irish  German  Chinese  \
0                0.0      0.0       0.0     0.0    0.0     0.0      0.0
2                0.0      0.0       0.0     0.0    0.0     0.0      0.0
4                0.0      0.0       0.0     0.0    0.0     0.0      0.0
6                0.0      0.0       0.0     0.0    0.0     0.0      0.0
7                0.0      0.0       0.0     0.0    0.0     1.0      0.0
...              ...      ...       ...     ...    ...     ...      ...
37816            0.0      0.0       0.0     0.0    0.0     0.0      0.0
37817            0.0      0.0       0.0     0.0    0.0     0.0      0.0
37819            0.0      0.0       0.0     0.0    0.0     0.0      0.0
37820            0.0      0.0       0.0     1.0    0.0     0.0      0.0
37821            0.0      0.0       0.0     0.0    0.0     0.0      0.0

       Italian  Indian  Canadian
0          0.0     0.0       1.0
2          1.0     0.0       0.0
4          0.0     0.0       1.0
6          0.0     0.0       1.0
7          0.0     0.0       0.0
...        ...     ...       ...
37816      0.0     0.0       1.0
37817      0.0     0.0       1.0
37819      0.0     0.0       1.0
37820      0.0     0.0       0.0
37821      0.0     1.0       0.0

[25267 rows x 10 columns]

In [12]:
# join with response id
df_responseid = df['cps19_ResponseId']

In [13]:
df_final = pd.concat([df_responseid, df_provage], axis=1)
print(df_final)

        cps19_ResponseId  cps19_province  cps19_age
0      R_1OpYXEFGzHRUpjM              24         30
1      R_2qdrL3J618rxYW0              24         21
2      R_USWDAPcQEQiMmNb              22         19
3      R_3IQaeDXy0tBzEry              22         21
4      R_27WeMQ1asip2cMD              22         19
...                  ...             ...        ...
37817  R_3oQICUsIyPYiuPS              24         58
37818  R_1mnjkphmpoqw5Pz              22         28
37819  R_3lAD7fCxbFns4CW              25         50
37820  R_1F3PFOFCfQcvPhj              22         36
37821  R_sjIpmXkzyqwq2qt              22         42

[37822 rows x 3 columns]

In [14]:
df_final = df_final.dropna()
print(df_final)

        cps19_ResponseId  cps19_province  cps19_age
0      R_1OpYXEFGzHRUpjM              24         30
1      R_2qdrL3J618rxYW0              24         21
2      R_USWDAPcQEQiMmNb              22         19
3      R_3IQaeDXy0tBzEry              22         21
4      R_27WeMQ1asip2cMD              22         19
...                  ...             ...        ...
37817  R_3oQICUsIyPYiuPS              24         58
37818  R_1mnjkphmpoqw5Pz              22         28
37819  R_3lAD7fCxbFns4CW              25         50
37820  R_1F3PFOFCfQcvPhj              22         36
37821  R_sjIpmXkzyqwq2qt              22         42

[37822 rows x 3 columns]

In [306]:
print(df_final)

        cps19_ResponseId  First Nations  English  Scottish  French  Irish  \
0      R_1OpYXEFGzHRUpjM            0.0      0.0       0.0     0.0    0.0
2      R_USWDAPcQEQiMmNb            0.0      0.0       0.0     0.0    0.0
4      R_27WeMQ1asip2cMD            0.0      0.0       0.0     0.0    0.0
6      R_1Iu8R1UlYzVMycz            0.0      0.0       0.0     0.0    0.0
7      R_2EcS26hqrcVYlab            0.0      0.0       0.0     0.0    0.0
...                  ...            ...      ...       ...     ...    ...
37816  R_3lxCk8GWz1MJYg5            0.0      0.0       0.0     0.0    0.0
37817  R_3oQICUsIyPYiuPS            0.0      0.0       0.0     0.0    0.0
37819  R_3lAD7fCxbFns4CW            0.0      0.0       0.0     0.0    0.0
37820  R_1F3PFOFCfQcvPhj            0.0      0.0       0.0     1.0    0.0
37821  R_sjIpmXkzyqwq2qt            0.0      0.0       0.0     0.0    0.0

       German  Chinese  Italian  Indian  Canadian ethnicity
0         0.0      0.0      0.0     0.0       1.0  Canadian
2         0.0      0.0      1.0     0.0       0.0   Italian
4         0.0      0.0      0.0     0.0       1.0  Canadian
6         0.0      0.0      0.0     0.0       1.0  Canadian
7         1.0      0.0      0.0     0.0       0.0    German
...       ...      ...      ...     ...       ...       ...
37816     0.0      0.0      0.0     0.0       1.0  Canadian
37817     0.0      0.0      0.0     0.0       1.0  Canadian
37819     0.0      0.0      0.0     0.0       1.0  Canadian
37820     0.0      0.0      0.0     0.0       0.0    French
37821     0.0      0.0      0.0     1.0       0.0    Indian

[25267 rows x 12 columns]

In [17]:
df_final.to_csv("cesr_province_age.csv")

In [ ]:
df_sub_no_eth_prop.to_csv("cesr_no_ethnicity_property")