In [289]:
import pandas as pd

In [290]:
df = pd.read_csv("ces2019_web.csv", encoding='latin-1')
print('done')

done

C:\Users\ericz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (25,27,31,33,39,179,181,243,276,299,302,316,327,362,424,425,431,468,538,541,578,579,582,584) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [291]:
df.tail()

,Unnamed: 0,cps19_StartDate,cps19_EndDate,cps19_ResponseId,cps19_consent,cps19_citizenship,cps19_yob,cps19_yob_2001_age,cps19_gender,cps19_province,...,split_vol_assoc,pes19_data_quality,pes19_panel,pes19_age,pes19_duplicates_flag,pes19_inattentive,cps19_weight_general_all,cps19_weight_general_restricted,pes19_weight_general_all,pes19_weight_general_restricted
37817,37818,2019-10-21 07:00:16,2019-10-21 07:19:19,R_3oQICUsIyPYiuPS,1,4,42,NaN,1,24,...,0.0,0.0,pes19_r,58.0,0.0,0.0,0.745574,0.740583,0.688558,0.635228
37818,37819,2019-10-21 07:42:56,2019-10-21 08:54:08,R_1mnjkphmpoqw5Pz,1,4,72,NaN,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,0.887253,NaN,NaN,NaN
37819,37820,2019-10-21 08:31:22,2019-10-21 08:50:44,R_3lAD7fCxbFns4CW,1,4,50,NaN,2,25,...,NaN,NaN,NaN,NaN,NaN,NaN,0.689530,0.699415,NaN,NaN
37820,37821,2019-10-21 08:31:47,2019-10-21 08:56:06,R_1F3PFOFCfQcvPhj,1,4,64,NaN,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,1.254407,1.256288,NaN,NaN
37821,37822,2019-10-21 08:41:10,2019-10-21 08:55:02,R_sjIpmXkzyqwq2qt,1,5,58,NaN,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,0.782036,0.771724,NaN,NaN

In [292]:
df_sub_no_eth_prop = df[["cps19_votechoice", 
"cps19_education", 
"cps19_yob",
"cps19_province", 
"cps19_gender", 
"cps19_Q_Language", 
"cps19_employment", 
"cps19_income_cat", 
"cps19_income_number", 
"cps19_religion",
"cps19_sexuality",
"cps19_marital",
"cps19_children"
]]

In [293]:
lst_eth = []
for i in range(23, 43):
    lst_eth.append('cps19_ethnicity_' + str(i))
print(lst_eth)

['cps19_ethnicity_23', 'cps19_ethnicity_24', 'cps19_ethnicity_25', 'cps19_ethnicity_26', 'cps19_ethnicity_27', 'cps19_ethnicity_28', 'cps19_ethnicity_29', 'cps19_ethnicity_30', 'cps19_ethnicity_31', 'cps19_ethnicity_32', 'cps19_ethnicity_33', 'cps19_ethnicity_34', 'cps19_ethnicity_35', 'cps19_ethnicity_36', 'cps19_ethnicity_37', 'cps19_ethnicity_38', 'cps19_ethnicity_39', 'cps19_ethnicity_40', 'cps19_ethnicity_41', 'cps19_ethnicity_42']

In [294]:
df_eth = df[lst_eth]
# map ethnicity number to ethnicity text

In [295]:
ethnicities = ['First Nations', 'British', 'Chinese', 'Dutch', 'English',
               'French', 'French Canadian', 'German', 'Hispanic', 'Indian', 'Inuit',
              'Irish', 'Italian', 'Metis', 'Polish', 'Quebecois', 'Scottish', 'Ukrainian',
               'cps19_ethnicity_41', 'cps19_ethnicity_42']

In [296]:
df_eth.columns = ethnicities

In [297]:
print(len(df_eth))
print(df_eth)

37822
       First Nations  British  Chinese  Dutch  English  French  \
0                NaN      NaN      NaN    NaN      NaN     NaN
1                NaN      NaN      NaN    NaN      NaN     NaN
2                NaN      NaN      NaN    NaN      NaN     NaN
3                NaN      1.0      NaN    NaN      NaN     NaN
4                NaN      NaN      NaN    NaN      NaN     NaN
...              ...      ...      ...    ...      ...     ...
37817            NaN      NaN      NaN    NaN      NaN     NaN
37818            NaN      NaN      NaN    NaN      NaN     NaN
37819            NaN      NaN      NaN    NaN      NaN     NaN
37820            NaN      NaN      NaN    NaN      NaN     1.0
37821            NaN      NaN      NaN    NaN      NaN     NaN

       French Canadian  German  Hispanic  Indian  Inuit  Irish  Italian  \
0                  1.0     NaN       NaN     NaN    NaN    NaN      NaN
1                  1.0     NaN       NaN     NaN    NaN    1.0      NaN
2                  NaN     NaN       NaN     NaN    NaN    NaN      1.0
3                  NaN     NaN       NaN     NaN    NaN    NaN      1.0
4                  NaN     NaN       NaN     NaN    NaN    NaN      NaN
...                ...     ...       ...     ...    ...    ...      ...
37817              1.0     NaN       NaN     NaN    NaN    NaN      NaN
37818              NaN     1.0       NaN     NaN    NaN    NaN      NaN
37819              NaN     NaN       NaN     NaN    NaN    NaN      NaN
37820              NaN     NaN       NaN     NaN    NaN    NaN      NaN
37821              NaN     NaN       NaN     1.0    NaN    NaN      NaN

       Metis  Polish  Quebecois  Scottish  Ukrainian  cps19_ethnicity_41  \
0        NaN     NaN        NaN       NaN        NaN                 NaN
1        NaN     NaN        1.0       1.0        NaN                 NaN
2        NaN     NaN        NaN       NaN        NaN                 NaN
3        NaN     NaN        NaN       NaN        NaN                 NaN
4        NaN     NaN        NaN       NaN        NaN                 1.0
...      ...     ...        ...       ...        ...                 ...
37817    NaN     NaN        NaN       NaN        NaN                 NaN
37818    NaN     NaN        NaN       NaN        NaN                 1.0
37819    NaN     NaN        NaN       NaN        NaN                 NaN
37820    NaN     NaN        NaN       NaN        NaN                 NaN
37821    NaN     NaN        NaN       NaN        NaN                 NaN

       cps19_ethnicity_42
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
37817                 NaN
37818                 NaN
37819                 NaN
37820                 NaN
37821                 NaN

[37822 rows x 20 columns]

In [298]:
# drop the rows with more than one ethnic group
manyethnic_rows = df_eth[df_eth == 1].sum(axis=1)
df_eth = df_eth[manyethnic_rows <= 1]
ethnicities_used = ['First Nations', 'English', 'Scottish', 'French', 'Irish', 'German', 'Chinese', 'Italian', 'Indian']
df_eth = df_eth[ethnicities_used]

In [299]:
print(len(manyethnic_rows[manyethnic_rows >1]))
print(len(df_eth))
print(df_eth)

12555
25267
       First Nations  English  Scottish  French  Irish  German  Chinese  \
0                NaN      NaN       NaN     NaN    NaN     NaN      NaN
2                NaN      NaN       NaN     NaN    NaN     NaN      NaN
4                NaN      NaN       NaN     NaN    NaN     NaN      NaN
6                NaN      NaN       NaN     NaN    NaN     NaN      NaN
7                NaN      NaN       NaN     NaN    NaN     1.0      NaN
...              ...      ...       ...     ...    ...     ...      ...
37816            NaN      NaN       NaN     NaN    NaN     NaN      NaN
37817            NaN      NaN       NaN     NaN    NaN     NaN      NaN
37819            NaN      NaN       NaN     NaN    NaN     NaN      NaN
37820            NaN      NaN       NaN     1.0    NaN     NaN      NaN
37821            NaN      NaN       NaN     NaN    NaN     NaN      NaN

       Italian  Indian
0          NaN     NaN
2          1.0     NaN
4          NaN     NaN
6          NaN     NaN
7          NaN     NaN
...        ...     ...
37816      NaN     NaN
37817      NaN     NaN
37819      NaN     NaN
37820      NaN     NaN
37821      NaN     1.0

[25267 rows x 9 columns]

In [300]:
# fill the na's with 0's
df_eth = df_eth.fillna(0)
# convert all 0 columns to new column
multiethnic_rows = df_eth[df_eth == 1].sum(axis=1)
candaian_rows = []
for row in multiethnic_rows:
    if row == 0:
        candaian_rows.append(1.0)
    else:
        candaian_rows.append(0.0)
df_eth['Canadian'] = candaian_rows

In [301]:
print(df_eth)

       First Nations  English  Scottish  French  Irish  German  Chinese  \
0                0.0      0.0       0.0     0.0    0.0     0.0      0.0
2                0.0      0.0       0.0     0.0    0.0     0.0      0.0
4                0.0      0.0       0.0     0.0    0.0     0.0      0.0
6                0.0      0.0       0.0     0.0    0.0     0.0      0.0
7                0.0      0.0       0.0     0.0    0.0     1.0      0.0
...              ...      ...       ...     ...    ...     ...      ...
37816            0.0      0.0       0.0     0.0    0.0     0.0      0.0
37817            0.0      0.0       0.0     0.0    0.0     0.0      0.0
37819            0.0      0.0       0.0     0.0    0.0     0.0      0.0
37820            0.0      0.0       0.0     1.0    0.0     0.0      0.0
37821            0.0      0.0       0.0     0.0    0.0     0.0      0.0

       Italian  Indian  Canadian
0          0.0     0.0       1.0
2          1.0     0.0       0.0
4          0.0     0.0       1.0
6          0.0     0.0       1.0
7          0.0     0.0       0.0
...        ...     ...       ...
37816      0.0     0.0       1.0
37817      0.0     0.0       1.0
37819      0.0     0.0       1.0
37820      0.0     0.0       0.0
37821      0.0     1.0       0.0

[25267 rows x 10 columns]

In [302]:
# join with response id
df_responseid = df['cps19_ResponseId']

In [303]:
df_final = pd.concat([df_responseid, df_eth], axis=1)
print(df_final)

        cps19_ResponseId  First Nations  English  Scottish  French  Irish  \
0      R_1OpYXEFGzHRUpjM            0.0      0.0       0.0     0.0    0.0
1      R_2qdrL3J618rxYW0            NaN      NaN       NaN     NaN    NaN
2      R_USWDAPcQEQiMmNb            0.0      0.0       0.0     0.0    0.0
3      R_3IQaeDXy0tBzEry            NaN      NaN       NaN     NaN    NaN
4      R_27WeMQ1asip2cMD            0.0      0.0       0.0     0.0    0.0
...                  ...            ...      ...       ...     ...    ...
37817  R_3oQICUsIyPYiuPS            0.0      0.0       0.0     0.0    0.0
37818  R_1mnjkphmpoqw5Pz            NaN      NaN       NaN     NaN    NaN
37819  R_3lAD7fCxbFns4CW            0.0      0.0       0.0     0.0    0.0
37820  R_1F3PFOFCfQcvPhj            0.0      0.0       0.0     1.0    0.0
37821  R_sjIpmXkzyqwq2qt            0.0      0.0       0.0     0.0    0.0

       German  Chinese  Italian  Indian  Canadian
0         0.0      0.0      0.0     0.0       1.0
1         NaN      NaN      NaN     NaN       NaN
2         0.0      0.0      1.0     0.0       0.0
3         NaN      NaN      NaN     NaN       NaN
4         0.0      0.0      0.0     0.0       1.0
...       ...      ...      ...     ...       ...
37817     0.0      0.0      0.0     0.0       1.0
37818     NaN      NaN      NaN     NaN       NaN
37819     0.0      0.0      0.0     0.0       1.0
37820     0.0      0.0      0.0     0.0       0.0
37821     0.0      0.0      0.0     1.0       0.0

[37822 rows x 11 columns]

In [304]:
df_final = df_final.dropna()
print(df_final)

        cps19_ResponseId  First Nations  English  Scottish  French  Irish  \
0      R_1OpYXEFGzHRUpjM            0.0      0.0       0.0     0.0    0.0
2      R_USWDAPcQEQiMmNb            0.0      0.0       0.0     0.0    0.0
4      R_27WeMQ1asip2cMD            0.0      0.0       0.0     0.0    0.0
6      R_1Iu8R1UlYzVMycz            0.0      0.0       0.0     0.0    0.0
7      R_2EcS26hqrcVYlab            0.0      0.0       0.0     0.0    0.0
...                  ...            ...      ...       ...     ...    ...
37816  R_3lxCk8GWz1MJYg5            0.0      0.0       0.0     0.0    0.0
37817  R_3oQICUsIyPYiuPS            0.0      0.0       0.0     0.0    0.0
37819  R_3lAD7fCxbFns4CW            0.0      0.0       0.0     0.0    0.0
37820  R_1F3PFOFCfQcvPhj            0.0      0.0       0.0     1.0    0.0
37821  R_sjIpmXkzyqwq2qt            0.0      0.0       0.0     0.0    0.0

       German  Chinese  Italian  Indian  Canadian
0         0.0      0.0      0.0     0.0       1.0
2         0.0      0.0      1.0     0.0       0.0
4         0.0      0.0      0.0     0.0       1.0
6         0.0      0.0      0.0     0.0       1.0
7         1.0      0.0      0.0     0.0       0.0
...       ...      ...      ...     ...       ...
37816     0.0      0.0      0.0     0.0       1.0
37817     0.0      0.0      0.0     0.0       1.0
37819     0.0      0.0      0.0     0.0       1.0
37820     0.0      0.0      0.0     0.0       0.0
37821     0.0      0.0      0.0     1.0       0.0

[25267 rows x 11 columns]

In [305]:
# loop over the df and create the new column
ethnicities_used.append("Canadian")
ethnic_groups = []
for row in df_final.itertuples():
    for i in range(len(row)):
        item = row[i]
        if item == 1.0:
            ethnic_groups.append(ethnicities_used[i-2])
df_final["ethnicity"] = ethnic_groups

KeyError: ('cps19_ResponseId', 'ethnicity')

In [306]:
print(df_final)

        cps19_ResponseId  First Nations  English  Scottish  French  Irish  \
0      R_1OpYXEFGzHRUpjM            0.0      0.0       0.0     0.0    0.0
2      R_USWDAPcQEQiMmNb            0.0      0.0       0.0     0.0    0.0
4      R_27WeMQ1asip2cMD            0.0      0.0       0.0     0.0    0.0
6      R_1Iu8R1UlYzVMycz            0.0      0.0       0.0     0.0    0.0
7      R_2EcS26hqrcVYlab            0.0      0.0       0.0     0.0    0.0
...                  ...            ...      ...       ...     ...    ...
37816  R_3lxCk8GWz1MJYg5            0.0      0.0       0.0     0.0    0.0
37817  R_3oQICUsIyPYiuPS            0.0      0.0       0.0     0.0    0.0
37819  R_3lAD7fCxbFns4CW            0.0      0.0       0.0     0.0    0.0
37820  R_1F3PFOFCfQcvPhj            0.0      0.0       0.0     1.0    0.0
37821  R_sjIpmXkzyqwq2qt            0.0      0.0       0.0     0.0    0.0

       German  Chinese  Italian  Indian  Canadian ethnicity
0         0.0      0.0      0.0     0.0       1.0  Canadian
2         0.0      0.0      1.0     0.0       0.0   Italian
4         0.0      0.0      0.0     0.0       1.0  Canadian
6         0.0      0.0      0.0     0.0       1.0  Canadian
7         1.0      0.0      0.0     0.0       0.0    German
...       ...      ...      ...     ...       ...       ...
37816     0.0      0.0      0.0     0.0       1.0  Canadian
37817     0.0      0.0      0.0     0.0       1.0  Canadian
37819     0.0      0.0      0.0     0.0       1.0  Canadian
37820     0.0      0.0      0.0     0.0       0.0    French
37821     0.0      0.0      0.0     1.0       0.0    Indian

[25267 rows x 12 columns]

In [309]:
df_final = df_final[["cps19_ResponseId","ethnicity"]]
df_final.to_csv("cesr_ethnicity.csv")

In [ ]:
df_sub_no_eth_prop.to_csv("cesr_no_ethnicity_property")